.heading{
    font-size: 15;
}

.h4-1{
    color: white;
}

.h4-2 {
    color: red;
}

.footer {
    color: red;
    background-color: white;
    line-height: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

canvas {
    
}